@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background-light: oklch(97.588% 0.01207 248.164);
  --background-dark: oklch(22.739% 0.05504 251.908);
  --background: var(--background-light);
  --foreground: oklch(27.95% 0.03688 260.049);
  --primary-light: oklch(49.999% 0.11934 242.772);
  --primary-dark: oklch(44.338% 0.10008 240.813);
  --primary: var(--primary-dark);
  --primary-foreground: oklch(97.711% 0.01258 236.913);
  --primary-accent: oklch(70.376% 0.12303 182.539);
  --secondary: oklch(92.527% 0.02544 240.793);
  --secondary-foreground: oklch(44.554% 0.0375 257.307);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: var(--muted);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(48.209% 0.19404 23.842);
  --link: var(--primary-light);
  --link-hover: var(--primary-dark);
  --mark: oklch(84.21% 0.22607 129.858 / 0.25);
  --border: oklch(50.246% 0.11843 242.09 / 0.2);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: var(--card);
  --popover-foreground: var(--card-foreground);
  --input: oklch(98.965% 0.00522 248.371);
  --ring: oklch(61.399% 0.12759 237.397);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: var(--card-foreground);
  --sidebar-primary: var(--accent-foreground);
  --sidebar-primary-foreground: var(--sidebar);
  --sidebar-accent: var(--muted);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: var(--ring);
  --radius: 0.625rem;
  --px: 1rem;
  --py: 0.625rem;
}

.dark {
  --background: var(--background-dark);
  --foreground: var(--primary-foreground);
  --primary: var(--primary-light);
  --secondary: oklch(29.009% 0.06338 254.354);
  --secondary-foreground: oklch(71.226% 0.05368 256.708);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(69.318% 0.05221 256.996);
  --accent: var(--muted);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(38.111% 0.13515 13.98);
  --link: oklch(75.353% 0.13906 232.691);
  --link-hover: oklch(82.76% 0.10135 230.359);
  --mark: oklch(81.037% 0.18662 116.898 / 0.25);
  --card: oklch(20.987% 0.04949 251.418);
  --card-foreground: var(--accent-foreground);
  --popover: var(--card);
  --popover-foreground: var(--accent-foreground);
  --border: oklch(80.29% 0.08011 250.568 / 0.15);
  --input: oklch(67.644% 0.12577 251.735 / 0.15);
  --ring: oklch(58.763% 0.13893 241.989);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: var(--accent-foreground);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: var(--accent-foreground);
  --sidebar-accent: var(--muted);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(50.626% 0.04266 264.831);
}

@theme inline {
  --color-background-light: var(--background-light);
  --color-background-dark: var(--background-dark);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-light: var(--primary-light);
  --color-primary-dark: var(--primary-dark);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-accent: var(--primary-accent);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-link: var(--link);
  --color-link-hover: var(--link-hover);
  --color-mark: var(--mark);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --spacing-px: calc(var(--spacing) * 4) /* 1rem = px-4 */;
  --spacing-py: calc(var(--spacing) * 2.5) /* 0.625rem = py-2.5 */;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --shadow-primary: 1.5px 1.5px 0px 0px var(--primary-accent);
}

@layer base {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border-color: var(--border);
    outline-color: color-mix(in oklab, var(--ring) 50%, transparent);
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: system-ui, Inter, Helvetica, Roboto, sans-serif;
  }

  /* TODO Move to a shared Link component */
  a {
    color: var(--link);
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
    transition: scale 0.2s ease-in-out;

    &:hover {
      color: var(--link-hover);
      text-decoration-line: underline;
    }

    &:active {
      scale: 0.97;
    }
  }
}

@layer utilities {
  mark {
    background-color: var(--mark);
    color: inherit;
    border-radius: 0.25rem;
    padding-inline: 0.25rem;
  }
}
